<div class='row'>
<div class='col-md-2'>
</div>
<div class='col-md-6'>
  <div class='w3-container'>
     <div class='w3-card-4' style='width:30%'>
        <header class='w3-container w3-light-grey'>
        </header>
        <p>
 <a href=\'auctionprofile.php?auctionid="+data[i]["auctionid"]+"\'> Auctionid:"+data[i]["auctionid"]+"</a>
</p>
</header>
<p>Bankid:"+data[i]["bankid"]</p>
<p>Auctionprice:"+data[i]["auctionprice"]</p>
</div>
</div>
<div class='col-md-6'>
</div>
</div>


<div class='col-md-2'>
</div>
